In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

from wordcloud import WordCloud

import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import contractions

In [2]:
data = pd.read_csv("dataset_cleaned.csv")

In [3]:
data

,text,stars,length,text_cleaned
0,I've only had food from here once and it wasn'...,1,68,food memorable panang curry balance flavor lik...
1,I will never return here again. Ever. I was ...,1,87,NOT_return ever sit booth wait dinner come scu...
2,I wish my experience was great as others. I di...,1,166,wish experience great others din wednesday nig...
3,Are the rosemary grapefruit scones supposed to...,1,81,rosemary grapefruit scone suppose taste like w...
4,Our takeout order was half wrong. Food was mis...,1,32,takeout order half wrong food miss portion siz...
...,...,...,...,...
24995,I was a loyal fan of Aroy before the ownership...,5,75,loyal fan aroy ownership change apprehensive v...
24996,Stopped here for a bite while wandering around...,5,55,stopped bite wander around faneuil hall pleasa...
24997,"A quiet place with excellent food, great music...",5,32,quiet place excellent food great music helpful...
24998,Super delicious food. Awesome vibe. I suffered...,5,41,super delicious food awesome vibe suffer disne...
24999,I have a lot of dietary restrictions and this ...,5,87,lot dietary restriction place spot superfood s...

In [4]:
negative_dataset= data[data.stars<3]

In [5]:
negative_dataset

,text,stars,length,text_cleaned
0,I've only had food from here once and it wasn'...,1,68,food memorable panang curry balance flavor lik...
1,I will never return here again. Ever. I was ...,1,87,NOT_return ever sit booth wait dinner come scu...
2,I wish my experience was great as others. I di...,1,166,wish experience great others din wednesday nig...
3,Are the rosemary grapefruit scones supposed to...,1,81,rosemary grapefruit scone suppose taste like w...
4,Our takeout order was half wrong. Food was mis...,1,32,takeout order half wrong food miss portion siz...
...,...,...,...,...
9995,Never order Hot Pot here. Too much vegetables ...,2,17,NOT_order hot pot much vegetable NOT_enough me...
9996,I work at BMC and heard about this new place o...,2,253,work bmc hear new place open co worker decide ...
9997,"Went here for dinner, drinks were very good, f...",2,150,went dinner drink good food could give well or...
9998,The food was mediocre. Not horrible not great....,2,64,food mediocre NOT_horrible NOT_great sausage b...
9999,This is our second time here and I think the f...,2,52,second time think food decent first time come ...

In [6]:
neg_data_cleaned =  negative_dataset.iloc[:,1:]

In [7]:
neg_data_cleaned

      stars  length                                       text_cleaned
0         1      68  food memorable panang curry balance flavor lik...
1         1      87  NOT_return ever sit booth wait dinner come scu...
2         1     166  wish experience great others din wednesday nig...
3         1      81  rosemary grapefruit scone suppose taste like w...
4         1      32  takeout order half wrong food miss portion siz...
...     ...     ...                                                ...
9995      2      17  NOT_order hot pot much vegetable NOT_enough me...
9996      2     253  work bmc hear new place open co worker decide ...
9997      2     150  went dinner drink good food could give well or...
9998      2      64  food mediocre NOT_horrible NOT_great sausage b...
9999      2      52  second time think food decent first time come ...

[10000 rows x 3 columns]

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(min_df=0.01,max_df=0.75)
tfidf_data_neg =tfidf_vectorizer.fit_transform(neg_data_cleaned.text_cleaned)

In [9]:
# Create data-frame of Doc-Term Matrix with nouns as column names
data = pd.DataFrame(tfidf_data_neg.toarray(), columns=tfidf_vectorizer.get_feature_names())
# Set President's Names as Index
data.index = neg_data_cleaned.index
# Visually inspect Document Term Matrix
data.head()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,10,100,11,12,15,18,20,25,30,...,wrong,yeah,year,yell,yelp,yes,yesterday,yet,young,zero
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.392054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.449125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
def display_topics(model, feature_names, num_top_words,topic_names=None):
    '''Given an NMF model, feature_names, and number of top words, print topic number and its top feature names, up to specified number of top words.'''
    # iterate through topics in topic-term matrix, 'H' aka
    # model.components_
    for ix, topic in enumerate(model.components_):
        #print topic, topic number, and top words
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i] \
             for i in topic.argsort()[:-num_top_words - 1:-1]]))

In [25]:
nmf_model = NMF(15)
doc_topic = nmf_model.fit_transform(data)
topic =display_topics(nmf_model, tfidf_vectorizer.get_feature_names(), 5)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(

Topic  0
place, like, really, look, get

Topic  1
good, taste, like, dish, sauce

Topic  2
pizza, crust, cheese, topping, slice

Topic  3
order, take, delivery, get, wrong

Topic  4
food, service, bad, good, slow

Topic  5
table, come, server, waitress, ask

Topic  6
burger, fry, bun, onion, cheese

Topic  7
wait, minute, hour, 30, 15

Topic  8
chicken, rice, fry, wing, sauce

Topic  9
bar, drink, beer, bartender, night

Topic  10
time, last, first, location, second

Topic  11
say, customer, tell, call, manager

Topic  12
sandwich, salad, cheese, bread, lettuce

Topic  13
sushi, roll, fish, rice, salmon

Topic  14
go, back, get, win, use

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [26]:
x = pd.DataFrame(doc_topic)
x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.022848,0.060258,0.000000,0.000000,0.035405,0.000000,0.000922,0.000000,0.010676,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.023372,0.000000,0.026745,0.000478,0.004344,0.000000,0.035150,0.003873,0.000000,0.002879
2,0.000000,0.029763,0.000000,0.003371,0.016271,0.024133,0.000000,0.000000,0.059547,0.024994,0.003374,0.011258,0.000000,0.005870,0.025086
3,0.013850,0.060710,0.000000,0.000000,0.000000,0.014902,0.000137,0.000000,0.000000,0.006701,0.007804,0.003931,0.000000,0.000000,0.020645
4,0.028661,0.005123,0.000000,0.051612,0.017037,0.000000,0.000000,0.017375,0.001121,0.001156,0.000000,0.000000,0.004824,0.001394,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.000000,0.033870,0.000511,0.003417,0.000000,0.000000,0.000000,0.000000,0.002828,0.000000,0.000000,0.000000,0.004219,0.000000,0.000000
9996,0.034958,0.056594,0.063282,0.008293,0.000000,0.001825,0.001655,0.000000,0.007227,0.000000,0.014703,0.017824,0.058643,0.000000,0.013534
9997,0.000000,0.053156,0.000000,0.035874,0.021431,0.034034,0.000597,0.000000,0.000000,0.017250,0.003784,0.038343,0.000000,0.000000,0.004091
9998,0.000000,0.038188,0.010027,0.000000,0.016594,0.000000,0.000000,0.000000,0.002261,0.000000,0.000000,0.000000,0.044112,0.000000,0.025179
9999,0.000000,0.018148,0.000000,0.002686,0.013468,0.038249,0.000000,0.000000,0.000000,0.000000,0.105059,0.000000,0.000000,0.000000,0.024948

In [29]:
l=[]
for i in range(15) :
    df2=x.sort_values(by=i,ascending=False)
    
    l.append(df2.index[:3].tolist())

In [97]:
print(l)

[[920, 2490, 123], [9098, 5043, 5838], [5484, 6518, 976], [6369, 4146, 2365], [375, 6301, 1727], [9601, 6166, 4712], [6270, 7346, 6536], [5558, 4098, 1032], [9130, 1114, 2875], [5669, 9897, 6987], [9983, 7517, 3719], [1510, 278, 4502], [6384, 7258, 8503], [6286, 9041, 9480], [4079, 463, 2517]]

In [30]:
dfr=pd.DataFrame(doc_topic)
dict={}
for i in range(15):
    top3=dfr.nlargest(3, i, keep='all')
    top3Indexes=top3[0].keys().tolist()
  
    dict[i]=negative_dataset['text'][top3Indexes].tolist()
comp= pd.DataFrame(dict)
comp

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,"This place used to be a cool, chill place. Now...",I love Greek food and have eaten at many Greek...,Ok we tried Mod pizza tonight for 1st time. We...,Great prices but I think that they are quantit...,the food cannot be catogorized as asian food. ...,Unos is actually my favorite restaurant and ye...,The service was good but they forgot several i...,"The food was decent, not worth the 20 minute w...",This chicken is not all that. It's just lightl...,Roscoe's is your middle-of-the-road bar locate...,I've been here twice and still think it's OK. ...,I called due to a ad on a website provided by ...,I'm a sandwich guy. I live for a good sandwich...,I go to an AYCE sushi for the pure goal of sat...,i used to like Sidebar. went there often. Afte...
1,Heard that this is a very popular place in Bos...,First impression: \nWalked into front door an...,I ordered pizza by the phone call. When I got ...,Don't bother pre-ordering online. They don't ...,Go for the drinks at the bar. The food is med...,"If you can get take out, I highly recommend it...","Really rather disappointing, got a burger and ...",Seriously it's worth the wait!? We waited frea...,Two recent visits and I have to ask...where's ...,We went here on a Saturday night when they had...,"My first time there was great, then my second ...",Rosie's Bakery is the no good. I'm not an exce...,Stopped here today for lunch after having read...,There seems to be a hole in decent sushi in st...,It's about time they closed. They've had repea...
2,I cant recomend this place its anti gun\nI val...,"I received a gift certificate to PF Chang's, a...",Worst Dominos pizza experience I have ever had...,Extremely long delivery times consistently and...,thier only a couple of words tell any customer...,This location did not live up to the expectati...,It was an unfortunately unpleasant experience....,"An hour and a half of waiting, and still NO FO...",Had the Southern Fried Chicken Salad. Wasnt ve...,I have been here for drinks several times and ...,We have given this place more than several opp...,We live about 20 minutes away from this restau...,Ordered a veggie sandwich online arrived a bit...,Sushi town is not a place to eat quality sushi...,Hello everyone... I hate to do this but I have...

In [49]:
#comp.reindex(columns = [topic]) 
x.rename(columns = {0:'les perssonels et les tables',
       1:'mauvaise gout des plats greek',
       2:'mauvaise pizza et retard de livraison',
       3:'retard de pre-commmande et de commande',
       4:'Qualite des repas et des serveurs ne sont pas au attendu',
       5:'mauvais endroit',
       6:'Burger',
       7:'beaucoup attente',
       8:'les poulets et les salades ne sont pas a la hauteur',
       9:'mauvais bar et mauvaise boisson',
       10:'prix elevÃ© par rapport a la quantitÃ©',
       11:'livraison',
       12:'sandwich',
       13:'suchi',
       14:'mauvais environnement'} , inplace=True)

In [50]:
x

,les perssonels et les tables,mauvaise gout des plats greek,mauvaise pizza et retard de livraison,retard de pre-commmande et de commande,Qualite des repas et des serveurs ne sont pas au attendu,mauvais endroit,Burger,beaucoup attente,les poulets et les salades ne sont pas a la hauteur,mauvais bar et mauvaise boisson,prix elevÃ© par rapport a la quantitÃ©,livraison,sandwich,suchi,mauvais environnement
0,0.022848,0.060258,0.000000,0.000000,0.035405,0.000000,0.000922,0.000000,0.010676,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.023372,0.000000,0.026745,0.000478,0.004344,0.000000,0.035150,0.003873,0.000000,0.002879
2,0.000000,0.029763,0.000000,0.003371,0.016271,0.024133,0.000000,0.000000,0.059547,0.024994,0.003374,0.011258,0.000000,0.005870,0.025086
3,0.013850,0.060710,0.000000,0.000000,0.000000,0.014902,0.000137,0.000000,0.000000,0.006701,0.007804,0.003931,0.000000,0.000000,0.020645
4,0.028661,0.005123,0.000000,0.051612,0.017037,0.000000,0.000000,0.017375,0.001121,0.001156,0.000000,0.000000,0.004824,0.001394,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.000000,0.033870,0.000511,0.003417,0.000000,0.000000,0.000000,0.000000,0.002828,0.000000,0.000000,0.000000,0.004219,0.000000,0.000000
9996,0.034958,0.056594,0.063282,0.008293,0.000000,0.001825,0.001655,0.000000,0.007227,0.000000,0.014703,0.017824,0.058643,0.000000,0.013534
9997,0.000000,0.053156,0.000000,0.035874,0.021431,0.034034,0.000597,0.000000,0.000000,0.017250,0.003784,0.038343,0.000000,0.000000,0.004091
9998,0.000000,0.038188,0.010027,0.000000,0.016594,0.000000,0.000000,0.000000,0.002261,0.000000,0.000000,0.000000,0.044112,0.000000,0.025179
9999,0.000000,0.018148,0.000000,0.002686,0.013468,0.038249,0.000000,0.000000,0.000000,0.000000,0.105059,0.000000,0.000000,0.000000,0.024948

In [52]:
import pickle 
with open ('model_file','wb') as file:
    pickle.dump(nmf_model,file)
    file.close()

In [53]:
with open ('vectoriseur_file','wb') as file :
    pickle.dump(x,file)
    file.close()